a:link,a:visited{
    background-color: rgb(251, 144, 233);
    color:rgb(4, 0, 0);
    padding:35px,56px;
    font-size: 70;
    text-decoration:none;
    display:inline-block;
    }
    a:hover,a:active
    {
    background-color:rgb(139, 0, 130)
    }
    nav{
        font-size:xx-large;
    }
    h1{
        background-color: rgb(201, 102, 122);
    }
    
    